<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Achraf's portfolio showcasing programming projects, skills, and experience in software development and data science"> 
        <meta name="author" content="Achraf">
        <meta name="keywords" content="Achraf, portfolio, software developer, data science, web development, programming">
        <title>Achraf's World</title>
        <link rel="icon" href="images/portfolio.ico">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    
    <body id="nav-bar">
        <header>
            <div class="holiday-vibe">
                Christmas season vibe. Merry Christmas 🎄
            </div>
            <nav class="nav-bar">
                <ul>
                    <li><a href="/"> Home</a></li>
                    <li><a href="/about">About </a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/skill">Skills </a></li>
                    <li><a href="/contact">Contact</a></li>
                    <div id="player"></div>
                    <button class="mute-button" onclick="toggleMute()">
                        <span id="volumeIcon">🔇</span>
                    </button>
                </ul>                
            </nav>

        </header>

        <main>
            <div class="Dashboard">
                <h1>ABOUT</h1>
                <div class="content-container">
                        <div class="inner-content-container">
                            <p>
                                 I'm <strong>Achraf</strong>! I'm a passionate Data science student at Concordia University. I’m driven by my love for coding and problem-solving, and I'm always looking to dive deeper into the world of technology.
                            </p>
                            <p>
                             I have experience with various programming languages, including <strong>Java, Python, C, R and JavaScript</strong>, and I enjoy creating projects that push me to learn something new. My journey so far has included building web applications, process automation tools and even a few personal projects like task management systems.
                            </p>
                                                
                        </div>  
                </div>

                <div class="content-container">
                    <div class="inner-content-container">
                        <p>
                            I’m very dedicated to my fitness—working out five days a week keeps me energized and helps me stay focused. I love meal prepping, especially simple and nutritious meals that fuel my body and mind.<br><br>

                    I’m always looking for ways to improve both mentally and physically. I believe in taking a proactive approach to life, whether it’s learning new programming skills, managing tasks, or making sure I take care of myself. I'm someone who enjoys working on projects—whether it’s creating web apps, exploring new technologies, or solving problems. In my personal life, I’m straightforward and strive to maintain a balance between fun and responsibility.<br><br>

                In my free time, I cherish quality moments with friends and family, enjoy some good food, or unwind while diving into new tech. I believe in continuous growth—whether it’s through work, personal habits, or experiences—and I'm excited for what the future holds!

                        </p>

                    </div>

                </div>

                <div class="content-container">
                    <div class="inner-content-container">
                <p>
                    <b>Feel free to check out my <a href="https://github.com/Ach57">GitHub</a> for more work, or connect with me on <a href="https://www.linkedin.com/in/achraf-c-0bbb19177/">LinkedIn</a> to chat about all things tech!</b>

                </p>
                    </div>
                    </div>
                



            </div>



        </main>

        <script src="js/index.js"></script>
        <script src="https://www.youtube.com/iframe_api"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Snowstorm/20131208/snowstorm.js"></script>

        <script>
            snowStorm.snowColor = '#FFF';
            snowStorm.flakesMaxActive = 50;
            snowStorm.animationInterval = 33;
            snowStorm.useTwinkleEffect = true;
            snowStorm.flakesMax = 100;
            snowStorm.flakeWidth = 20;
            snowStorm.flakeHeight = 20;
            snowStorm.vMaxX = 5;
            snowStorm.vMaxY = 5;

        </script>        
    </body>



</html>
