<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Achraf's portfolio showcasing programming projects, skills, and experience in software development and data science"> 
        <meta name="author" content="Achraf">
        <meta name="keywords" content="Achraf, portfolio, software developer, data science, web development, programming">
        <title>Achraf's World</title>
        <link rel="icon" href="images/portfolio.ico">
        <link rel="stylesheet" href="css/styles.css">


        

    </head>

    <body id="nav-bar">
        <div class="holiday-vibe">
            Christmas season vibe. Merry Christmas 🎄
        </div>
        <header>
            <nav class="nav-bar">
                <ul>
                    <li><a href="/"> Home</a></li>
                    <li><a href="/about">About </a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/skill">Skills </a></li>
                    <li><a href="/contact">Contact</a></li>
                    <div id="player"></div>
                    <button class="mute-button" onclick="toggleMute()">
                        <span id="volumeIcon">🔇</span>
                    </button>
                </ul>                
            </nav>
            
        </header>
        <main>

            <div class="Dashboard">
                <h1>HOME</h1>
                <div  class="content-container">
                <strong><p>Welcome to my portfolio! Here, you'll find highlights from my journey as a dedicated Computer Science student, specializing in data science and software development.
                    <br><br>
                    Take a look at my projects, check out my skills, or feel free to reach out—I'm always open to collaborating on exciting ideas. Let’s create something remarkable together!</p></strong>
                </div>
            </div>
            
            <div class="header-class">
                <h1>World News:</h1>
            </div>
            
            <div id="news-container" class="home-section">
                
                <!-- News articles will be dynamically added here -->
            </div>
                
            
        </main>

        <div class="santa">
            <img  src="images/SantaFlying.gif">
        </div>


        <script src="js/index.js"></script>
        <script src="https://www.youtube.com/iframe_api"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Snowstorm/20131208/snowstorm.js"></script>

        <script>
            snowStorm.snowColor = '#FFF';
            snowStorm.flakesMaxActive = 50;
            snowStorm.animationInterval = 33;
            snowStorm.useTwinkleEffect = true;
            snowStorm.flakesMax = 100;
            snowStorm.flakeWidth = 20;
            snowStorm.flakeHeight = 20;
            snowStorm.vMaxX = 5;
            snowStorm.vMaxY = 5;

        </script>

    </body>


</html>