<!DOCTYPE html>

<html lang="EN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Achraf's portfolio showcasing programming projects, skills, and experience in software development and data science"> 
    <meta name="author" content="Achraf">
    <meta name="keywords" content="Achraf, portfolio, software developer, data science, web development, programming">
    <title>Achraf Portfolio Website</title>
    <link rel="icon" href="images/portfolio.ico">
    <link rel="stylesheet" href="css/styles.css">


</head>


<body id="nav-bar">
    <div class="holiday-vibe">
                 <strong>Happy New Year 2025 🎉</strong>
            </div>
    <header>
        <nav class="nav-bar">
            <ul>
                <li><a href="/"> Home</a></li>
                <li><a href="/about">About </a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/skill">Skills </a></li>
                <li><a href="/contact">Contact</a></li>
                <div id="player"></div>
                <button class="mute-button" onclick="toggleMute()">
                    <span id="volumeIcon">🔇</span>
                </button>
            </ul>                
        </nav>
        
    </header>

    <div class="Dashboard">
        <h1>SKILLS</h1>
    </div>
    <div class="center-container">
        <div class="info-container">
            <p><strong>Operating Systems │</strong> Ubuntu, macOS, Windows (7, 8, 10, 11), Docker</p>
            <p><strong>Applications │</strong> Eclipse • VsCode • Visual Studio • Microsoft Office: Word • Excel • PPT • AppScript • IntelliJ IDEA</p>
            <p><strong>Programming │</strong> Java • R • Python • HTML • CSS • JavaScript • Assembly • C • Erlang • Clojure</p>
            <p><strong>Frameworks/Technologies │</strong> Node.js, Flask, Express.js, Tkinter, TensorFlow, MongoDB</p>
            <p><strong>Other │</strong> GitHub • Auto CAD • Google Spreadsheets • Google API • Microsoft Teams • SharePoint • Box</p>
            <p><strong>Languages │</strong> English: Spoken & Written • French: Spoken & Written • Arabic: Spoken & Written • German: Spoken & Written</p>
            <p><strong>Licenses & Certifications │</strong> Driving License • First Aid Workplace • Excel Training Program</p>
        </div>
    </div>


    <script src="js/index.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Snowstorm/20131208/snowstorm.js"></script>

    <script>
        snowStorm.snowColor = '#FFF';
        snowStorm.flakesMaxActive = 50;
        snowStorm.animationInterval = 33;
        snowStorm.useTwinkleEffect = true;
        snowStorm.flakesMax = 100;
        snowStorm.flakeWidth = 20;
        snowStorm.flakeHeight = 20;
        snowStorm.vMaxX = 5;
        snowStorm.vMaxY = 5;

    </script>



</body>


</html>
